
<div class="jumbotron">
  <h1>M or F</h1>
  <p>Description lrem ipsum</p>
  <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
</div>

<div class="container">
<% if @result && @result == "error" %>  
<div id="error" class="alert alert-danger alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Something went wrong! :(
</div>
<% end %>
<% if @result && @result != "error" %>
<div id="result" class="alert alert-success">
  <%= @result %>
</div>
<% end %>
<%= form_tag "/apply_model", method: :post, class: 'form-horizontal', role: "form" do %>
  <div class="form-group">
  <%= text_area_tag(:text, params[:text], rows: 5, class: "form-control", id: "focusedInput", placeholder: "Insert here your text...") %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Guess!</button>
  </div>
<% end %>

<div class="navbar navbar-default navbar-fixed-bottom"><small>
  <p class="navbar-text"> 
    <span class="glyphicon glyphicon-copyright-mark"></span> 2014. Brought to you by <a href="http://luiscruz.pt.vu/" class="">Luis Cruz</a> and <a class="">Gassin Ibrahim</a>.  MIT License.
  </p>
  <p class="navbar-text navbar-right"> 
    Made with <a class="">R</a> Ruby On Rails and Bootstrap. Source code available at <a class= href="https://github.com/luiscruz/morf">Github</a>.&nbsp;&nbsp;
  </p>
  <small>
</div>

